<form nz-form [formGroup]="synonymForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="synonymFrom">Synonyms for</nz-form-label>
        <nz-form-control>
            <nz-input-group nzPrefixIcon="caret-right">
                <input formControlName="synonymFrom" nz-input />
            </nz-input-group>
            <div *ngFor="let validation of validation_messages.synonymFrom">
                <p *ngIf="synonymForm.get('synonymFrom')?.hasError(validation.type) && (synonymForm.get('synonymFrom')?.dirty || synonymForm.get('synonymFrom')?.touched)">{{validation.message}}</p>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary"  [disabled]="!synonymForm.valid">Find synonyms</button>
        </nz-form-control>
    </nz-form-item>
</form>

<div style="background: #ECECEC;padding:30px;" *ngIf="synonymLoaded">
    <div nz-row [nzGutter]="3">
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="Synonyms of {{foundSynonyms.fromSynonym}}">
          <p *ngFor="let synonym of foundSynonyms.synonyms">{{synonym}}</p>
        </nz-card>
      </div>
    </div>
  </div>